doctype html
html(lang="en")
    head
        title Bucket Page

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="http://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            form.form-horizontal.pull-right(method='get', action='/logout')
                div.form-group
                    div.col-sm-6
                    button.btn.btn-default(type="submit") Logout
            form.form-horizontal(method='get', action='/buckchat/home')
                div.form-group
                    div.col-sm-6
                        button.btn.btn-default(type="submit") Back


            h1 #{individualBucketName} Bucket

            if (drips && drips.length > 0)
                //- Loop over the drips and print info for each one
                each drip in drips
                    br
                    br
                    br
                    blockquote #{drip.text}
                    //- Checking whether the drip is anonymous or not
                    if (drip.anonymous != true)
                        p Posted by: #{drip.user}
                    p Posted on: #{drip.timestamp}
            else
                //- Else no drips - show error message.
                p This bucket has no drips.
