doctype html
html(lang="en")
    head
        title Bucket Page

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            form.form-horizontal(method='get', action='/buckchat/home')
                div.form-group
                    div.col-sm-6
                        button.btn.btn-default(type="submit") Back
            if(bucketDrips && dripUserame && timeOfDrip)
                h1 #{individualBucketName} Bucket
                - var t = 0;
                - var u = 0;
                - for (var i = 0; i < bucketDrips.length; i++) {
                    br
                    br
                    br
                    blockquote #{bucketDrips[i]}
                    p Posted by: #{dripUserame[i]}
                    p Posted on: #{timeOfDrip[i]}
                - }
