doctype html
html(lang="en")
    head
        title Buckchat Home Page

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            h1 Welcome!

            p
                | Thank you for visiting Buckchat, #{name}.


            form.form-horizontal(method='post', action='/buckchat/create-drip')
                fieldset

                    legend Create a Drip

                    if (createDripError)
                        p.alert.alert-danger Error: #{createDripError}


                    div.form-group
                        label.col-sm-2.control-label(for="drip-creation-text") Drip text
                        div.col-sm-5
                            textarea#drip-creation-text.forwordm-control(name="text", placeholder="Type drip text here", rows="4" cols="50")

                    div.form-group
                        div.col-sm-offset-2.col-sm-5
                            button.btn.btn-default(type="submit") Drip


