doctype html
html(lang="en")
    head
        title Buckchat Messaging Service

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src="http://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")

    body
        div.container
            h1 Buckchat - Chat away!

            p Please login or register with the Buckchat Messaging Service.

            //- Allowing the user to login with valid credentials
            form.form-horizontal(method='post', action='/login')
                fieldset

                    legend Login

                    if (loginError)
                        p.alert.alert-danger Error: #{loginError}


                    div.form-group
                        label.col-sm-2.control-label(for="login-username") Username
                        div.col-sm-5
                            input#login-username.forwordm-control(type="text", name="username", placeholder="Type username here")

                    div.form-group
                        label.col-sm-2.control-label(for="login-password") Password
                        div.col-sm-5
                            input#login-password.forwordm-control(type="password", name="password", placeholder="Type password here")

                    div.form-group
                        div.col-sm-offset-2.col-sm-5
                            button.btn.btn-default(type="submit") Login


            //- Allowing the user to enter valid information and register as a buckchat member
            form.form-horizontal(method='post', action='/register')
                fieldset

                    legend Register

                    //- Successful registration message.
                    if (successMessage)
                        p.alert.alert-success #{successMessage}

                    //- Register error of any type (fields didn't pass validation, account already exists, etc.)
                    if (registerError)
                        div.alert.alert-danger
                            p One or more fields are invalid! 
                            p Error: #{registerError}

                    div.form-group
                        label.col-sm-2.control-label(for="register-name") Name
                        div.col-sm-5
                            input#register-name.form-control(type="text", name="name", placeholder="Type full name here (1-30 characters)",pattern=".{1,30}",title="Must contain 1 to 30 letters only")

                    div.form-group
                        label.col-sm-2.control-label(for="register-email") Email
                        div.col-sm-5
                            input#register-email.form-control(type="email", name="email", placeholder="Type email here",required)

                    div.form-group
                        label.col-sm-2.control-label(for="register-username") Username
                        div.col-sm-5
                            input#register-username.form-control(type="text", name="username", placeholder="Type username here (3-15 characters)",pattern="[a-zA-Z0-9]{3,15}",title="Must contain 3 to 15 alphanumerals only")
                    div.form-group
                        label.col-sm-2.control-label(for="register-password") Password
                        div.col-sm-5
                            input#register-password.form-control(type="password", name="password", placeholder="Type password here (6-12 alphanumeric charecters)",pattern="[a-zA-Z0-9]{6,12}",title="Must contain 6 to 12 alphanumerals only")

                    div.form-group
                        div.col-sm-offset-2.col-sm-5
                            button.btn.btn-default(type="submit") Register


